body{
    margin: 50px;
    margin-left:100px;

}
.january{
   
    border-collapse: collapse;
}
th{
    background-color: cadetblue;
    padding:5px;
}
tr{
    border: 1px solid black;
}
td{
    padding:10px;
    border: 2px solid;
}
table{
    justify-content: center;
    display: flex;
    
}
.h1{
    justify-content: center;
    display: flex;
}
.h2{
    justify-content: center;
    display: flex;
}