.box1{
    background-color: antiquewhite;
    width: 250px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid lightcoral;

}
button{
    background-color: rgb(51, 51, 182);
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 40;
}
img{
    width: 310px;
    height: 250px;
}
.subbox1{
    display: flex;
    gap: 40px;
    background-color: cornflowerblue;
    align-items: center;
    padding-left: 10px;
}
.p1{
    color: black;
    justify-content: center;
    align-items: center;
}
.web{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    background-color: darkgray;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}